html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #0f0d0d;
    background-color: rgb(255, 0, 115);
}
a {
    color: rgb(208, 255, 0);
}
h1, h2, h3, h4 {
    color: #b30c0c;
    background-color: rgb(43, 255, 0);
    border: 1px solid black;
    border-bottom: 4px solid rgb(14, 1, 1);
    padding: 8px 16px;
}
hr {
    border: none;
    border-bottom: 2px solid rgba(127, 127, 127, 0.5);
}