html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #38b361;
    background-image: url('space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
h1  {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2  {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h3  {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}