html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #ccc;
    background-color: rgb(15, 0, 7);
}
body {
    margin: 0;
    padding: 0;
}
a {
    color: #39f;
}
p {
    padding: 8px 16px;
}
h1, h2 {
    margin: 0;
}
h1, h2, h3, h4 {
    color: #ccddff;
    background-color: #024;
    border-bottom: 4px solid #39f;
    padding: 8px 16px;
}
ul, ol {
    padding-bottom: 16px;
}
.header {
    background-color: #002848;
    margin: 0;
    padding-top: 0;
}

.content {
    background-color: #036;
}

.sunset {
    width: 80%;
    max-width: 800px;
    height: 400px;
    background-image: url('sunset.jpg');
    background-size: cover;
    background-position: center bottom;
    margin: 0 auto;
    border: 4px solid #ffcccc;
    border-radius: 32px;
    text-align: center;
}

.sunset h2 {
    margin-top: 100px;
    border: none;
    background-color: #00000066;
}
