<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU8 - super studentų grupė</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1>PTU8 Python Kursas</h1>
        <p>Mūsų super sėkminga ir smagi studentų grupė</p>
    </div>
    <div class="content">
        <h3>Dėstytojas</h3>
        <ul>
            <li><a href="/destytojas/">Kęstutis Januškevičius</a></li>
        </ul>
        <h3>Studentų sąrašas</h3>
        <ul>
            <li style="color: darkgray; text-decoration: line-through;">Vardenis Pavardenis</li>
        </ul>
    </div>
</body>
</html>
