<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kestutis</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/stylek.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>bla bla</h1>
    <hr>
    <a href="/">atgal i PTU8 grupes puslapi</a>
</body>
</html>